.enter-phone-name {
  text-overflow: ellipsis;
  max-width: 205px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}
.contact-input-output-group .enter-phone-number {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
}