#root{
  position: absolute;
  left: calc(50% - 125px);
    top: calc(50% - 225px);
}
.main {
  position: fixed;
  width: 250px;
  opacity: 1;
  height: 450px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  transition: 0.2s;
    left: calc(50% - 125px);
  top: calc(50% - 225px);
   transition: 0.5s;
  &.in-coming-status{
    z-index: 2050;
  }
  &.cursor-grabbing{
  cursor:grabbing;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  filter: contrast(0.9);
  transition: 0s !important;
  *{user-select: none;}
}
  &.on-close {
    left: 100% !important;
    top: 100% !important;
    height: 0;
     transition: 0.5s;
    .action-call-button{
      opacity: 1;
    }
  }

  .navigation-call-info-link {
    position: relative;
    color: black;
    text-decoration: none !important;
  }

  .info-link-arrow-icon {
    position: absolute;
    left: 25px;
    height: 100%;
    display: flex;
    align-items: center;

    .fa-chevron-left {
      color: #213991;
      font-size: 10px;
    }
  }

  .logo-info {
    position: absolute;
    bottom: 0;
    width: 122px;
    height: 15px;
    background: #4156a0;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    left: 64px;

    &:hover {
      background: #FFFFFF;
      color: #4156a0;
      text-decoration: none;
    }
  }

  .phone-book-section {
    width: 100%;
    padding: 0 12px;
    flex: 1 0 50px;
  }

  .phone-book-item {
    background: rgb(245, 246, 250);
    border-radius: 5px;
    min-height: 48px;
    margin-bottom: 5px;
    padding: 5px 10px;

    .fa-info-circle {
      position: absolute;
      color: #4156a0;
      z-index: 1;
      font-size: 12px;
      transition: 0.2s;
      cursor: pointer;
      display: flex;
      height: 18px;
      width: 20px;
       align-items: center;
      justify-content: center;
      background: transparent;
      opacity: 0;
      top: 3px;
       right: 23px;
           }

    .fa-star {
        color: #C9CFE3;
      font-size: 12px;
      cursor: pointer;
      top: 6px;
      right: 7px;
      position: absolute;
      z-index: 1000;

      &.active {
        color:  #213991;
      }

    }

    &:hover {
      background: #E6EBFB;
      .fa-star{
        color:  #213991;
      }
      .fa-info-circle {
       opacity: 1;
      }
    }

    .call-time-date {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #7D7D7D;
    }
  }

  .phone-book-item-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: #7D7D7D;
    text-overflow: ellipsis;
    max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  .phone-book-item-number {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

  }

  .call-time-duration {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    &.incoming {
      color: #6DD453;
    }

    &.out {
      color: #213991;
    }
  }

  .phone-image-status {
    min-width: 17px;
    min-height: 17px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    &.missed {
      background-image: url("../../../resources/img/missed.png");
    }

    &.incoming {
      background-image: url("../../../resources/img/incoming.png");
    }

    &.out {
      background-image: url("../../../resources/img/out.png");
    }
  }

  .common-block-title {
    padding-left: 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    min-height: 34px;

    .common-subscriber-quantity {
      font-size: 9px;
      line-height: 14px;
      color: #7D7D7D;
    }
  }
}
