.keyboard-button-group {
  height: 120px;
  margin-top: 13px;
  transition: 0.3s;
  overflow: hidden;
  padding: 0 20px;

  .common-keyboard-button {
    border: none;
    width: 60px;
    height:24px;
    font-family: Roboto–±, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #F0F1F8;
    border-radius: 5px;
    color: #7D7D7D;

    &:hover {
      color: #213991;
      background-color: #e9eaf1;
    }
  }
}

.keyboard-button-group.close {
  height: 0;
  margin-top: 0;
  transition: 0.3s;
}

.common-call-keyboard-button {
  border: none;
  width: 75px;
  height: 30px;
  color: #7D7D7D;
  background:transparent;
  border-radius: 5px;
  margin-top: auto;

  &:hover {
    background-color: #dfe0e7;
    color: #213991;
  }

  &.active {

    color: #213991;
  }

  .fas, .far {
    font-size: 15px;
  }
}
