.keyboard-button-group {
  height: 170px;
  margin-top: 10px;
  transition: 0.3s;
  overflow: hidden;
  padding: 0 25px;

  .common-keyboard-button {
    border: none;
    width: 70px;
    height: 35px;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: #7D7D7D;
    background: #F0F1F8;
    border-radius: 8px;

    &:hover {
      color: #213991;
      background-color: #e9eaf1;
    }
  }
}

.keyboard-button-group.close {
  height: 0;
  margin-top: 0;
  transition: 0.3s;
}

.common-call-keyboard-button {
  border: none;
  width: 75px;
  height: 45px;
  color: #7D7D7D;
  background: #F0F1F8;
  border-radius: 8px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: 5px;

  &:hover {
    background-color: #dfe0e7;
    color: #213991;
  }

  &.active {

    color: #213991;
  }

  .fas, .far {
    font-size: 17px;
  }
}

/*________________________dark style_____________________*/

.dark-time {
  .keyboard-button-group {
    padding: 0 10px;

    .common-keyboard-button {
      &:hover {
        color: black;
        background-color: #e9eaf1;
      }
    }
  }

  .common-call-keyboard-button {
    &:hover {
      background-color: #dfe0e7;
      color: #213991;
    }
    &.active {
      color: #213991;
    }
   }

}