.conference-common-wrapper {
  background: #F0F1F8;
  border-radius: 5px;
  max-height: 38px;
  overflow: hidden;
  padding: 2px 0;
  transition: 0.2s;

  &.active {
    max-height: 100%;
    transition: 0.2s;
  }

  .conference-person-block {
    max-height: 80px;
  }

  .conference-block-title {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 600;
    min-height: 42px;

    .conference-subscriber-quantity {
      font-size: 9px;
      line-height: 14px;
      color: #7D7D7D;
    }
  }
}

.fa-chevron-up{
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #213991;
  font-size: 11px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: rotate(180deg);
  right: 9px;
  top: 2px;
  transition: 0.1s;
  cursor: pointer;

  &.active {
    transform: rotate(0);
    transition: 0.1s;
  }
}
.fa-chevron-left {
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #213991;
  font-size: 11px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 18px;
  top: 40px;
  cursor: pointer;
}

.conference-item {
  width: 100%;
  background: #F0F1F8;
  border-radius: 5px;
  height: 38px;
  padding: 5px 10px;

  .conference-title {
    font-size: 9px;
    font-weight: 700;
    color: #6DD453;
    margin-right: 25px;
  }

  .fa-phone-slash {
    cursor: pointer;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 6px;
    color: #FD8181;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-number__value {
    font-size: 11px;
    font-weight: 600;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
  }

  .phone-book-avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  .fa-stopwatch {
    display: none
  }

  &.hold {
    background: #F0F1F8;

    .conference-item__title {
      color: #000000;
    }
  }
}

.subscriber-value-conference {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  margin: 0;
}

.subscriber-value {
  margin-top: auto;
}

.conference-item__title {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  color: #BDBDBD;
}

.combine-conference-button {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
}