.conference-common-wrapper {
  background: #F0F1F8;
  border-radius: 12px;
  height: 100%;

  .conference-block-title {
    padding: 0 15px;
    font-size: 12px;
    font-weight: 600;
    .conference-subscriber-quantity{
      font-size: 9px;
      line-height: 14px;
      color: #7D7D7D;
    }
  }

  .fa-chevron-up {
    position: absolute;
    font-size: 12px;
    transform: rotate(180deg);
    float: right;
    margin: 3px 14px;
    height: 20px;
    color: #213991;
    right:0;
  }

  .conference-item {
    border-bottom: 1px solid #E0E5F5;
  }
}

.conference-item {
  width: 100%;
  height: 30px;
  border-radius: 6px;


  &-number__value {
    font-size: 11px;
    font-weight: 600;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
  }

  .phone-book-avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  .fa-stopwatch {
    display: none
  }

  &.hold {
    background: #F0F1F8;

    .conference-item__title {
      color: #000000;
    }
  }
}

.subscriber-value-conference {
  border: 1px solid #F0F1F8;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  margin: 0;
}

.subscriber-value {
  margin-top: auto;
}

.conference-item__title {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  color: #BDBDBD;
}