.contact-nav-bar {
  min-height: 32px;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #F0F1F8;
  margin-bottom: 10px;
  padding: 0 12px;

  .navigation-contact-info-item {
    position: relative;
    width: 70px;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
    cursor: pointer;
    &:hover, &.active {
      color: black;

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #213991;
        bottom: 0;
      }
    }
  }
}