.contact-input-output-group {
  flex: 1 1 65px;
  height: 65px;
  padding: 5px 0;
  .enter-phone-number{
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    &::placeholder{
      font-size: 13px;
      letter-spacing: 1px;
      font-weight:400;
    }
  }
}

.enter-phone-name {
   text-overflow: ellipsis;

  overflow: hidden;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  }