.incoming-button-block {
  padding: 0 12px;

  .incoming-line-button-item {
    height: 24px;
    width: 52px;
    background: rgba(240, 241, 248, 0.71);
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #7D7D7D;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
  }

  .incoming-line-button-item.active {
    background-color: #213991;
    color: #ffffff;
  }

  .on-hold {
    animation: inLine-call 0.8s infinite;
  }
}

