.sip-status-block{

  .profile-settings{
    min-height: 40px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    color: #7D7D7D;
    .fa-user{
      margin-right: 20px;
    }
  }
}