.phone-screen-block {
  height: 180px;

  .screen-header-group {
    padding: 3px 10px 5px;
    .current-time-phone-screen {
      font-size: 14px;
      line-height: 18px;
      color: #7D7D7D;

      .fa-clock {
        margin-right: 5px;
        height: 11px;
      }
    }

    .action-screen-header-block {
      font-size: 14px;
      line-height: 18px;
      color: #7D7D7D;

      .fas, .far {
        height: 11px;
        cursor: pointer;
        margin-left: 12px;
        color: #7D7D7D;
        &:hover{
          color:#213991;
        }
      }
    }
  }
}