.contact-input-output-group {
  flex: 1 1 65px;
  height: 65px;

  &.start{
    background-image: url("../../../resources/img/bgLodo.png");
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
.enter-phone-name{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7D7D7D;
  border: none;
  background: #FFFFFF;
}

.enter-phone-number {
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  min-height: 30px;
  color: #000000;
  width: 100%;

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #7D7D7D;
  }
}
