.enter-phone-name {
  text-overflow: ellipsis;
  max-width: 205px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #7D7D7D;
}
 .enter-phone-number {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}