.keyboard-wrapper {
  padding: 5px 10px;

  .keyboard-action-button {
    border: none;
    background-color: #ffffff;
    width: 75px;
    height: 30px;
    font-size:22px;
    border-radius: 5px;
  }

  .hangUp-phone-button {
    color: #ffffff;
    background-color: #FD8181;

  }

  .make-call-button {
    color: #ffffff;
    background-color: #6DD453;

  }
}
