.common-settings-wrapper {
  height: 362px;
  padding: 0 12px;
  overflow-y: auto;

  .settings-page-header {
    min-height: 36px;

       .head-line-settings {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #213991;
    }

  }

  .sip-status-block {
    max-height: 40px;
    background: rgba(240, 241, 248, 0.7);
    border-radius: 5px;
    overflow: hidden;
    padding-left: 30px;
    font-size: 21px;
    transition: 0.3s;
    margin-bottom: 5px;
    &:hover{
      background: #E6EBFB;
    }
    .sip-status-list {
      min-height:40px;
      cursor: pointer;

      span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 40px;
        color: #7D7D7D;
        cursor: pointer;
      }

      &:hover {
        span {
          color: #213991;
        }
      }

      &.active {
        color: #6DD453;
      }

      &.out {
        color: #FFCA27;
      }

      &.invisibility {
        color: #7D7D7D;
      }

      &.relaxation {
        color: #FD8181;
      }

      &.selected {
        order: -1;
      }
    }

    &.open {
      max-height: 225px;
      transition: 0.3s;
      .fa-chevron-right{
        transform: rotate(90deg);
        transition: 0.2s;
        color: #213991;
      }
    }
  }

  .fa-chevron-right{
    position: absolute;
    font-size: 12px;
     color:#BDBDBD;
    right: 16px;
    top: 10px;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #213991;
    }
  }
}