.main {
  .soft-phone-header {
    padding: 0 16px 0 12px;
    height: 36px;
    min-height: 36px;
    width: 100%;


    .fa-circle {
      font-size: 8px;

      &.active {
        color: #6DD453;
      }

      &.out {
        color: #FFCA27;
      }

      &.invisibility {
        color: #7D7D7D;
      }

      &.relaxation {
        color: #FD8181;
      }
    }


    .employee-common-info {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      display: block;
      text-overflow: ellipsis;
      max-width: 180px;
      overflow: hidden;
      margin: 0 5px;
      padding-bottom: 2px;
      cursor: grab;
    }

    .employee-full-name {
      font-size: 12px;
    }

    .employee-sip {
      font-size: 12px;
      line-height: 12px;
      margin-right: 3px;
    }

    .fa-times, .fa-chevron-down {
      margin-left: 10px;
      color: #213991;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .fa-chevron-down .active {
        transform: rotate(180deg);
      }
    
  }

}
.cursor-grabbing{
  .employee-common-info {
    cursor:grabbing !important;
  }
}