.soft-phone-header {
  padding: 15px 25px;
  .fa-circle {
    font-size: 16px;
  }

  .sip-active {
    color: green;
  }

  .sip-pass {
    color: red;
  }

  .employee-full-name {
    font-size: 12px;
    line-height: 25px;
   font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: block;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;


  }

  .employee-sip {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    margin-right: 5px;
      }

  .fas, .far {
    font-size: 14px;
    cursor: pointer;

  }

.fa-times{
  margin-left: 10px;
  color: #C9CFE3;
}
  .fa-chevron-up{
    transform: rotate(180deg);
    color: #C9CFE3;
  }
  .fa-chevron-up.active{
    transform: rotate(180deg);
      }
}



/*___________________Dark style__________________*/

.dark-time{
.soft-phone-header {
  padding:0;
    .employee-full-name {
   color: #FFFFFF;
  }
  .employee-sip {
    color: #FFFFFF;
      }
 }}