.common-client-card-wrapper {

  .settings-page-header {
    min-height: 24px;
    padding: 0 12px;

    .settings-link-arrow-icon {
      color: #213991;
      font-size: 12px;
      margin-right: auto;
      margin-left: 5px;
      height: 24px;
      .fa-chevron-left{
        line-height: 30px;
      }
    }

    .head-line-settings {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #213991;
      margin-right: auto;
    }
  }

  .client-card-body {
    position: relative;
    padding: 0 15px;
    overflow: auto;
    flex: 1;

    .phone-book-avatar {
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
      border-radius: 15px;
      font-size: 18px;
      font-weight: 600;
      background-position: center;
      background-size: 140%;
      background-repeat: no-repeat;
      margin-bottom: 11px;

    }

    .fa-star {
      color: #C9CFE3;
      font-size: 18px;
      cursor: pointer;
      top: 1px;
      right: 56px;
      position: absolute;
      z-index: 1000;

      &.active, &:hover {
        color: #213991;
      }
    }

    .phone-number-group {
      margin: 20px 0 5px;
    }

    .phone-number__item {
      font-family: Roboto, sans-serif;
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 16px;
      color: #000000;

      .far, .fas {
        font-size: 16px;
        margin:0 14px;
        color: #C9CFE3;
        transform: rotate(90deg);
      }

      &:hover {
        color: #213991;

        .far, .fas {
          color: #6DD453;
        }
      }
    }

    .email-info__item {
      display: flex;
      align-items: center;
      font-family: Roboto, sans-serif;
      width: 100%;
      font-size: 14px;
      color: #000000;

      .far, .fas {
        font-size: 16px;
        margin:0 14px;
        color: #C9CFE3;
      }
    }

    .name-info__item {
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      color: #000000;
    }

    .work-info__item, .position-info__item {
      text-align: center;
      font-family: Roboto, sans-serif;
      width: 100%;
      font-size: 14px;
      color: #7D7D7D;
    }

     .work-info__item {
      line-height: 23px;
    }

    .title-info__item {
      font-family: Roboto, sans-serif;
      line-height: 16px;
      margin-top: 28px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
      font-size: 14px;
      color: #7D7D7D;
    }

    .position-info__item {
      margin-top: 5px;
      height: 24px;
      line-height: 24px;
      padding: 0 15px;
      background: #F0F1F8;
      border-radius: 24px;
      width: min-content;
    }
  }
}