
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.search-common-wrapper, .last-contact-wrapper {
  overflow: hidden;
  height: 461px;
  background-color: #F0F1F8;


  .search-input-section {
    width: 250px;
    min-height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 10px auto;
    padding: 0 15px;

    .fas {
      font-size: 12px;
      cursor: pointer;
      color: #7D7D7D;
    }

    input {
      border: none;
      width: 100%;
      padding: 5px 15px;
      background-color: transparent;

      &::placeholder {
        color: #C9CFE3;
      }
    }
  }
}

.phone-book-section {
  width: 100%;
  padding: 0 25px;

  .phone-book-headline {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #213991;
    border-bottom: 1px solid #C9CFE3;
  }

  .phone-book-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px solid #E0E5F5;

    &:hover {
      background-color: white;
      border-radius: 6px;
    }

    .phone-book-item-time {
      font-size: 10px;
      font-weight: 400;
    }

    .phone-book-item-name {
      font-size: 12px;
      line-height: 16px;
      color: #7D7D7D;
      text-overflow: ellipsis;
      max-width: 150px;
    }

    .phone-book-item-number {
      font-size: 15px;
      line-height: 19px;
      color: #000000;
    }
  }
}

.phone-image-status {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 74%;
  background-repeat: no-repeat;
}

/*___________dark style ________________*/

.dark-time {
  .search-common-wrapper, .last-contact-wrapper {
    background-color: white;
    padding: 0 5px;
    border-radius: 12px;

    .search-input-section {
      border: 1px solid #C9CFE3;
      width: 230px;
      padding: 0 15px;
    }
  }

  .phone-book-section {
    background-color: white;
    width: 100%;
    padding: 0 10px;

    .navigation-call-info-link {
      margin: 3px 0;
      border-radius: 8px;
      background-color: #F0F1F8;

      .phone-book-section, .phone-book-item {
        border: none;

      }
    }
  }
}