.display-footer-group {
  margin-top: auto;
  min-height: 28px;
  width: 100%;


  .fa-microphone-alt, .fa-microphone-alt-slash {
    font-size: 18px;
    line-height: 18px;

  }

  .fa-microphone-alt {
    color: #008000;
  }

  .fa-microphone-alt-slash {
    color: #f52c0b;
    animation: mic-off 0.7s linear infinite;
  }
}

@keyframes mic-off {
  from{
    color: #f52c0b;
  }
  to{
    color: #ffb1ac;
  }

}