.main {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(33, 57, 145, 0.31);
  }

  .head-line-phone-book {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    padding: 10px 12px;
    color: #000000;
  }

  .search-common-wrapper, .last-contact-wrapper {
    overflow: hidden;
    height: 362px;


    .search-input-section {
      min-height: 40px;
      background: #F0F1F8;
      padding: 0 12px;
      position: relative;

      .fa-times {
        position: absolute;
        font-size: 10px;
        cursor: pointer;
        color: #BDBDBD;
        right: 25px;
      }

      input {
        font-size: 12px;
        border: none;
        width: 100%;
        padding: 0 15px 0 30px;
        height: 28px;
        background: #FFFFFF;
        border-radius: 50px;

        &::placeholder {
          font-size: 12px;
          color: #C9CFE3;
        }
      }
    }
  }


}