.main {
  button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  button:focus, button:active, button:active {
    outline: none !important;
    box-shadow: none;
  }

}