.phone-screen-block {
  height: 180px;
  padding: 5px 25px;

  .screen-header-group {
    padding: 7px 0;

    .current-time-phone-screen {
      font-size: 16px;
      line-height: 18px;
      color: #7D7D7D;

      .fa-clock {
        margin-right: 5px;
      }
    }

    .action-screen-header-block {
      width: 100%;
      font-size: 16px;
      line-height: 18px;

      .fa-search, .fa-ellipsis-v {
        color: #213991;
        margin-left: 12px;
        cursor: pointer;

        &:hover {
          color: #7D7D7D;
        }
      }

      .fa-stopwatch {

        margin-left: 12px;
        color: #6DD453;


      }
    }
  }
}

.call-timer {
  font-size: 16px;
  line-height: 18px;
  color: #6DD453;;

  .fa-stopwatch {
  }
}

/* _________________dark Style___________________*/

.dark-time {
  .phone-screen-block {
    padding: 5px 10px;
  }
}