.phone-screen-block {
  height: 165px;
  padding: 0 12px;
  position: relative;

  .screen-header-group {
    height: 40px;

    .current-time-phone-screen {
      font-size: 12px;
      color: #7D7D7D;

      .fa-clock {
        margin-right: 3px;
      }
    }

    .action-screen-header-block {
      width: 100%;
      font-size: 12px;
      line-height: 16px;

      .fa-search, .fa-ellipsis-v {
        color: #213991;
        cursor: pointer;
        width: 20px;
        text-align: center;

        &:hover {
          color: #7D7D7D;
        }
      }

      .fa-stopwatch {
        margin-left: 12px;
        color: #6DD453;


      }
    }
  }
}

.call-timer {
  font-size: 10px;
  line-height: 12px;

  .fa-stopwatch {
  }
}

