.action-call-button {
  position: absolute;
  background: #005cbf;
  color: #FFFFFF;
  left: -163px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
}

.incoming-call-item {
  width: 100%;
  background: #F0F1F8;
  border-radius: 5px;
  height: 38px;
  padding: 0 10px;
  margin-bottom: 3px;
  animation: incoming-call 0.8s linear infinite;

  &__label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #7D7D7D;
  }

  &__value {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    max-width: 115px;
    width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .fa-phone-slash, .fa-phone, .fa-volume-mute {
    cursor: pointer;
    margin-right: 8px;
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fa-phone-slash {
    color: #FD8181;
  }

  .fa-phone {
    color: #6DD453;
  }

  .fa-volume-mute {
    color: #005cbf;

  }

}