.content-wrapper{
  padding: 5px 7px;
  border-radius: 16px;
  border: 1px solid black;
}
.phone-book-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  color: #7D7D7D;

}