.main {
  .sub-value-call-board-item {
    font-size: 9px;
    line-height: 8px;
    text-align: center;
    color: #BDBDBD;

  }

  .sub-value-keyboard-item {
    font-size: 10px;
    line-height: 3px;
    text-align: center;
  }

}