.add-contact-button{
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  &:hover{
    background-color: #dfe0e7;
  }
.fa-plus{
  font-size: 16px;
color: #213991;
}
  span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #213991;
  }
}