.display-footer-group {
  min-height: 35px;
  width: 100%;

  .call-timer {
    font-size: 14px;
    line-height: 18px;
    color: #008000;

    .fa-stopwatch {
      height: 11px;
    }
  }

  .fa-microphone-alt, .fa-microphone-alt-slash {
    margin: 10px;
    font-size: 18px;
    line-height: 18px;

  }

  .fa-microphone-alt {
    color: #008000;
  }

  .fa-microphone-alt-slash {
    color: #f52c0b;
    animation: mic-off 0.7s linear infinite;
  }
}

@keyframes mic-off {
  from{
    color: #f52c0b;
  }
  to{
    color: #ffb1ac;
  }

}