.incoming-button-block {

  .incoming-line-button-item {
    font-size: 11px;
    padding: 0 7px;
    border: none;
    background-color: #ffffff;
    font-weight: 500;
    height: 22px;
    border-radius: 8px;
    color: #7D7D7D;
  }

  .incoming-line-button-item.active {
    background-color: #213991;
    color: #ffffff;
  }
  .on-hold {
   animation: inLine-call 0.5s infinite;
  }
 }